{% extends "base.html" %}

{% block content %}
<h2 class="mt-3">{{ task.title }}</h2>
<div style="width: 100%;" class="mt-3 mb-3 border-bottom"></div>
<p class="">Description: {{ task.description }}</p>
<p class="">Status: <span class="badge text-bg-primary">{{ task.status }}</span></p>
<p class="">Priority: <span class="badge text-bg-warning">{{ task.priority }}</span></p>
<small class="text-muted">Due time: {{ task.due_day }}</small>
<div style="width: 100%;" class="mt-3 mb-3 border-bottom"></div>
<p class="mt-3">
  <a href="{% url 'task-update' task.pk %}" class="btn btn-primary">Update</a>
  <a href="{% url 'task-delete' task.pk %}" class="btn btn-danger">Delete</a>
</p>
{% endblock %}